{% extends "site_base.html" %}
{% load i18n %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="hero-unit">
	<div class="container">
		{% include "_messages.html" %}
		<div class="row">
			<div class="col-md-7">
				<h1>Send-a-Subscription</h1>
				<div style="height: 10px"></div>
				<h2>Send a gift that keeps on giving.</h2>
				<div style="height: 10px"></div>
				<h3>We are a home for cool and nifty subscriptions, so you can easily compare and buy a unique gift for that special someone (or yourself).</h3>
				<div style="height: 50px"></div>
				<div class="button-wrapper">
					<a class="btn btn-primary btn-lg" href="#gift-browser" role="button">Browse our collection</a>
				</div>
			</div>
		</div>
	</div>
</section>
<br> <br>
<div class="container"
	<div class="row">
		<div class="col-lg-12 text-xs-center">
			<h2 class="section-heading text-capitalize">How it works</h2>
			<hr class="primary">
			<br>
		</div>
	</div>
</div>
<div class="container" style="z-index:1; background-color:white">
	<div class="row">
		<div class="col-md-4 text-xs-center">
			<div class="service-box">
				<i class="fa fa-5x fa-gift text-primary sr-icons"></i> <br> <br>
				<h3>1. Browse gifts</h3>
				<p class="text-muted">Browse our carefully curated selection of subscriptions below for something to gift to a friend or loved one.</p>
			</div>
		</div>
		<div class="col-md-4 text-xs-center">
			<div class="service-box">
				<i class="fa fa-5x fa-pencil-square-o text-primary sr-icons"></i> <br><br>
				<h3>2. Gift subscription</h3>
				<p class="text-muted">Give us some basic details about the lucky recipient you are sending the gift to and make the payment.</p>
			</div>
		</div>
		<div class="col-md-4 text-xs-center">
			<div class="service-box">
				<i class="fa fa-5x fa-magic text-primary sr-icons"></i> <br> <br>
				<h3>3. Magic happens</h3>
				<p class="text-muted">We send out the subscription gift on your behalf, and the lucky person gets to indulge in the gift for your chosen duration.</p>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="container" id="gift-browser">
	<div id="gift-browser-sticker" style="z-index: 1; background-color:white">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<div style="height:20px"></div>
				<h2 class="section-heading text-capitalize">Browse subscription gifts</h2>
				<hr class="primary">
				<br>
			</div>
		</div>

		<div class="row recipient-nav">
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/#gift-browser">
					<i class="fa fa-2x fa-globe text-primary sr-icons"></i><br><br>
					<h5>All gifts</h5>
				</a>
			</div>
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/subscriptions/popular/#gift-browser">
					<i class="fa fa-2x fa-star text-primary sr-icons"></i><br><br>
					<h5>Popular</h5>
				</a>
			</div>
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/subscriptions/new/#gift-browser">
					<i class="fa fa-2x fa-check-circle-o text-primary sr-icons"></i><br><br>
					<h5>New</h5>
				</a>
			</div>
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/subscriptions/him/#gift-browser">
					<i class="fa fa-2x fa-mars text-primary sr-icons"></i><br><br>
					<h5>For him</h5>
				</a>
			</div>
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/subscriptions/her/#gift-browser">
					<i class="fa fa-2x fa-venus text-primary sr-icons"></i><br><br>
					<h5>For her</h5>
				</a>
			</div>
			<div class="col-lg-2 text-xs-center">
				<a class="nav-link" href="/subscriptions/kids/#gift-browser">
					<i class="fa fa-2x fa-child text-primary sr-icons"></i><br><br>
					<h5>For kids</h5>
				</a>
			</div>
		</div>
		<hr>
	</div>



	<div style="height:20px"></div>

	<div class="row">
		<div id="filtersidebar" class="col-md-2">
			<h5>Filter by category</h5>
			<div style="height: 10px"></div>
			<nav class="nav nav-pills nav-stacked">
				<a class="nav-link filter-button active" data-filter="all" href="#gift-browser">
					<i class="fa fa-list" aria-hidden="true"></i>
					All
				</a>
				{% for category in categories %}
					{% if category.subscription_set.count > 0 %}
						<a class="nav-link filter-button" href="#gift-browser" data-filter="{{ category|cut:""|cut:"("|cut:")"|cut:"&" }}">
							<i class="fa fa-{{ category.favicon }}" aria-hidden="true"></i>
							{{ category }} ({{ category.subscription_set.count }})
						</a>
					{% endif %}
				{% endfor %}
			</nav>

			<div style="height: 50px"></div>

			<h5>Filter by price (£)</h5>
			<div style="height: 50px"></div>

			<!-- Price slider -->
			<div id="slider"></div>

		</div>
		<div class="col-md-10" id="subscriptionitems">
		{% for subscription in subscriptions %}
			{% include 'subscriptions_dir/subscription_template.html' with subscription=subscription %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
