{% extends "sendasubscription/base.html" %}

{% block content %}

<div class="hero-unit">
	<div class="container">
		<h1>Send-a-Subscription</h1>
		<h2>
			Send a gift that keeps on giving!
		</h2>

		<!-- Dummy search bar -->
		{% include 'subscriptions_dir/search_bar.html' %}

	</div>
</div>

<br>

<br>

<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<h1>Browse all subscription gifts</h1>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<nav class="nav nav-pills nav-stacked">
				<a class="nav-link filter-button active" data-filter="all" href="#"><i class="fa fa-list" aria-hidden="true"></i> All</a>
				{% for category in categories %}
					{% if category.subscription_set.count > 0 %}
					<a class="nav-link filter-button" href="#" data-filter="{{ category|cut:" "|cut:"("|cut:")"|cut:"&" }}"><i class="fa fa-{{ category.favicon }}" aria-hidden="true"></i> {{ category }} ({{ category.subscription_set.count }})</a>
					{% endif %}
				{% endfor %}
			</nav>

		</div>

		<div class="col-md-10">
			{% for subscription in subscriptions %}
				{% include 'subscriptions_dir/subscription_template.html' with subscription=subscription %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
