{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}

{% load pinax_webanalytics_tags %}
{% analytics %}
{% load i18n %}
{% load account_tags %}

{% block styles %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" type="text/css">
<link rel="stylesheet" href="{% static 'css/monosaur.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/custom-image-carousel.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" type="text/css">
<link rel="icon" type="image/png" href="../../static/img/favicon.png">
{% endblock %}

{% block head_title_base %}Send-a-Subscription{% endblock %}

{% block navbar_class %}navbar-dark bg-inverse navbar-fixed-top{% endblock %}

{% block topbar %}
<div class="navbar-header">
	<a class="navbar-brand" href="{% url "home" %}">Send-a-Subscription</a>
</div>
<div>
	<ul class="nav navbar-nav pull-right">
		<li class="nav-item"><a class="nav-link {% if navbar == 'subscriptions' %}active{% endif %}" href="/">Subscriptions</a></li>
		<li class="nav-item"><a class="nav-link {% if navbar == 'contact' %}active{% endif %}" href="/contact">Contact us</a></li>
		<li class="nav-item"><a class="nav-link {% if navbar == 'faq' %}active{% endif %}" href="/faq">FAQs</a></li>
		<li class="nav-item nav-link">|</li>
		{% include "_account_bar.html" %}
	</ul>
</div>
{% endblock %}

{% block footer %}
	{% include "_footer.html" %}
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/subscription_directory_filter.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/price_slider.js' %}"></script>

<!-- Google Analytics -->
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script',
			'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-89823937-1', 'auto');
	ga('send', 'pageview');
</script>
{% endblock %}
