{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Send-a-Subscription</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/monosaur.css' %}"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
	type="text/css">
<link rel="stylesheet"
	href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"
	type="text/css">
<link rel="icon"
	type="image/png"
	href="../../static/img/favicon.png">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/subscription_directory_filter.js' %}"></script>
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

<!-- Google Analytics -->>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89823937-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Monosaur</a>
			<ul class="nav navbar-nav float-sm-right">
				<li class="nav-item"><a
					class="nav-link {% if navbar == 'subscriptions' %}active{% endif %}"
					href="/">Subscriptions</a></li>
				<li class="nav-item"><a
					class="nav-link {% if navbar == 'contact' %}active{% endif %}"
					href="/contact">Contact us</a></li>
			</ul>
		</div>
	</nav>

	{% block content %}
	{% endblock %}

	<div style="height:200px"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; Monosaur 2016</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
