{% extends "sendasubscription/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="hero-unit-contact">
	<div class="container">
		<h1>Contact us</h1>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h1>We'd love to hear from you!</h1>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p>Insert our faces here</p>
        </div>
        <div class="col-md-8">
          {% crispy form 'bootstrap4' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
