{% extends "site_base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}Contact Us{% endblock %}

{% block body_base %}
<div class="hero-unit-contact">
	<div class="container">
		<div style="height: 10px"></div>
			<h1>Contact us</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-xs-center">
			<br>
			<h2 class="section-heading">We'd love to hear from you</h2>
			<hr class="primary">
		</div>
		<div style="height: 100px"></div>
		<div class="col-md-8 offset-md-2 text-xs-center">
			<p>Get in touch with us whether you're a customer with questions about your order, or a business looking to collaborate with us. We will get back to you as soon as we can.</p>
		</div>
	</div>
	<br>
  <div class="row">
		<div class="col-md-8  offset-md-2">
      {% crispy form 'bootstrap4' %}
    </div>
  </div>
</div>

{% endblock %}
